<!DOCTYPE html>
<html>
<head>
  <title>Camatiz</title>
  <%= stylesheet_link_tag    "camatiz/application", media: "all" %>
  <%= javascript_include_tag "camatiz/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
